.formSection {
  border: 0.5px solid gray;
  padding: 10px;
  margin: 10px;
}

.formSection label {
  margin-left: 10px;
  margin-right: 5px;
}

.formSection input,
.formSection select {
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.error {
  border: 1.5px solid red;
}

.reactSelect {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 200px;
}

.submitSection {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
}

.submitSection button {
  height: 50px;
}

.submitSection ul {
  list-style-type: none;
}

.submitSection ul li {
  font-size: 13px;
}

@media only screen and (max-width: 767px) {
  .formSection {
    display: inline-grid;
  }
}
