.header {
  background-color: #a7c13c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 10px 15px;
}

.logo {
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.logo span {
  font-family: sans-serif;
  font-size: 35px;
  font-weight: bold;
  -webkit-text-stroke: 1px white;
}

.navigation {
  float: right;
  display: flex;
  list-style: none;
  padding: 10px;
}

.menuToggle {
  cursor: pointer;
  float: right;
  color: white;
  margin-top: 15px;
  margin-right: 20px;
}

@media only screen and (max-width: 767px) {
  .logo {
    float: left;
    cursor: pointer;
  }

  .navigation {
    display: inline;
    float: left;
  }

  .navigation li {
    padding: 5px;
  }

  .closed {
    display: none;
  }
}
