.header {
  background-color: #a7c13c;
  position: absolute; /* or fixed */
  top: 0;
  left: 0;
  width: 100%;
}

.header ul {
  float: right;
  display: flex;
  list-style: none;
  padding: 10px;
}

.header a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 10px 15px;
}

.logo {
  float: left;
  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.logo span:nth-child(1) {
  font-family: sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.logo span:nth-child(3) {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  -webkit-text-stroke: 1px white;
}

.selectedTab {
  text-decoration: underline !important;
}
