.pagination {
  display: flex;
  margin-bottom: 5px;
  margin-right: 15px;
}

.paginationBar {
  margin-left: auto;
}

.paginationBar input {
  margin-right: 30px;
  width: 200px;
  padding: 10px;
}

.paginationBar span {
  padding: 10px;
}
