.pagination {
  display: flex;
  margin-bottom: 5px;
  margin-right: 15px;
}

.paginationBar {
  margin-left: auto;
}

.searchInput,
.datepicker input {
  margin-right: 15px;
}

.searchInput {
  width: 200px;
  padding: 10px;
}

.datepicker input {
  width: 100px;
  text-align: center;
  padding: 5px;
}

.datepicker,
.datepickerType {
  display: inline-block;
}

.datepickerType {
  margin-right: 30px;
  padding: 2px;
}

.datepickerType input {
  margin-left: 20px;
}

.currentPageInfo {
  padding: 10px;
}
