* {
  font-family: Verdana;
}

html, body {
  background-color: gray;
}

button, input {
  border: 1px solid gray;
  border-radius: 5px;
}

button {
  background-color: #83BEFD;
  cursor: pointer;
  color: #212529db;
  padding: 5px;
}