* {
  font-family: "Trebuchet MS";
}

html,
body {
  background-color: #f4f6f6;
  padding-top: 50px; /* to avoid conflicts with the navbar */
  height: 100%;
  /*overflow: hidden;*/ /* check if it is a good approach or not */
}

button,
input {
  border: 1px solid gray;
  border-radius: 5px;
}

button {
  background-color: #a7c13c;
  cursor: pointer;
  color: white;
  padding: 10px;
}

button:disabled {
  background-color: #cccccc;
  cursor: default;
}

/* React-Datepicker custom styles */

.react-datepicker__current-month,
.react-datepicker__month-text {
  text-transform: capitalize;
}

.react-datepicker__month-wrapper div {
  padding: 5px;
}

.react-datepicker__year-wrapper {
  display: block !important;
}

.mobileErrorMsg {
  text-align: center;
}

@media only screen and (min-width: 767px) {
  .watermark {
    position: absolute;
    margin-left: 400px;
    opacity: 0.04;
    background: gray;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    right: -300px;
    pointer-events: none;
  }
}
