.signin {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  height: 325px;
  width: 250px;
}

.signin p {
  font-size: 25px;
}

.signin input, .signin button {
  padding: 10px;
  margin: 15px;
}

.error {
  color: red;
  font-size: 13px!important;
}
