.header {
  background-color: white;
  position: absolute; /* or fixed */
  top: 0;
  left: 0;
  width: 100%;
}

.header ul {
  float: right;
  display: flex;
  list-style: none;
  padding: 10px;
}

.header a {
  text-decoration: none;
  color: #4b7cb1;
  text-transform: uppercase;
  padding: 10px 15px;
}
